.main__form--book {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.form {
  padding: 15px;

  min-width: 450px;
  width: 500px;
  min-height: 400px;

  display: flex;
  flex-direction: column;
  gap: 25px;

  font-size: 20px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;

  &__component {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}

.field {
  height: 40px;
} 
