.header {
  height: 60px;
  background-color: #ddd;
}

.nav {
  display: flex;
  gap: 40px;
  align-items: center;

  height: 100%;

  padding-left: 15px;

  &__link {
    text-transform: uppercase;
    color: #282828;
    font-weight: 700;
  }
}

.main {
  min-height: calc(100vh - 25px - 60px);
  margin: 15px;
}

.footer {
  &__main {
    position: sticky;
    bottom: 0;

    padding: 15px;
    width: 100%;

    background-color: #ddd;
  }

  &__link {
    font-size: 20px;
    color: #000;
  }
}

.success-message {
  background-color: rgba(166, 255, 23, 0.929);
  position: fixed;
  bottom: 60px;
  right: 0;
  transform: translateX(-50%);
  min-width: 200px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
